/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up base styles */
body, html {
    font-family: 'Arial', sans-serif;
    background-color: #111; /* Dark background color */
    color: white;
    height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: #000;
}

.logo, .search-icon {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #C62828; /* Highlight color */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.about-container {
    padding-top: 20px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-left:200px;
}

.about-me {
    background-color: #222; /* Card background color */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Card shadow */
    width: 80%; /* Reduced width */
    min-height: 300px; /* Increased height */
    animation: flyInFromTop 0.5s ease-out forwards;
}

.about-me:before {
    content: '';
    width: 3px;
    background-color: #C62828; /* Gold line color */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the area */
    border: 3px solid #C62828; /* Gold border */
    box-shadow: 0 0 8px rgba(198, 40, 40, 0.7); /* Glowing effect */
    margin-right: 2rem;
    animation: flyInFromBottom 0.5s ease-out forwards;
}

.about-content {
    padding-left: 2rem;
    text-align: justify;
}

.about-content h2 {
    color: #C62828; /* Gold color for the heading */
    margin-bottom: 0.5em;
    display: inline-block;
    position: relative;
}

.about-content h2:after {
    content: '';
    width: calc(100% - 2rem);
    height: 2px;
    background-color: #C62828; /* Gold line color */
    position: absolute;
    bottom: -5px;
    left: 2rem;
}

.about-content p {
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 1rem; /* Space between paragraphs */
}

.skills-section {
    text-align: left;
}

.tabs {
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid #C62828; /* Gold border for tabs */
}

.tab.active {
    background-color: #C62828; /* Gold color */
    color: #111;
}

.skills-container {
    max-width: 900px;
    display: none;
    padding-bottom: 20px;
}

.skills-container.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four-column grid */
    gap: 10px;
    justify-items: left;
}

.skill-card {
    background-color: #333;
    border: 2px solid #C62828; /* Gold outline */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 180px; /* Fixed width for skill cards */
    transition: transform 0.3s ease;
}

.skill-card img {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    margin-right: 10px;
}

.skill-card span {
    color: white;
}

.skill-card:hover {
    transform: translateY(-5px); /* Slight hover effect */
}

@keyframes flyInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flyInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flyInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1em;
    }

    .logo, .search-icon {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .about-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .profile-picture img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .about-content {
        padding-left: 0;
    }

    .skills-container.active {
        grid-template-columns: repeat(2, 1fr); /* Two-column grid for smaller screens */
    }

    .skill-card {
        width: 100%; /* Full width for smaller screens */
    }
}
