body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111; /* Dark color from your image */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em; /* Padding to match the image */
    background-color: #000; /* Header background color */
}

.logo {
    color: #fff; /* Logo text color */
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    color: #C62828; /* Highlight color from your image */
}

.search-icon {
    font-size: 1.2em;
    cursor: pointer;
}

.portfolio h1,
.portfolio p {
    text-align: center;
}

/* Portfolio Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    animation: gridGrow 1s ease-out forwards, flyInFromBottom 1.5s ease-out forwards;
}

@keyframes gridGrow {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.project-card {
    background: #333; /* Dark card background */
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    height: 400px;
}

.project-card:hover {
    transform: translateY(-10px); /* Lift card on hover */
}

.project-card img {
    width: 90%;
    margin: 10px auto;
    display: block;
    height: 200px;
    border-radius: 5px;
}

.project-info {
    padding: 15px;
}

.project-info h3 {
    text-align: center;
    color: #C62828; /* Gold color for project title */
    margin-bottom: 10px;
}

.project-info p {
    font-size: 0.9rem; /* Smaller text for description */
    margin-bottom: 10px;
    text-align: center;
}

.project-technologies span {
    display: inline-block;
    background: #222; /* Darker background for technology tags */
    color: #C62828; /* Gold color for text */
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {

    .projects-grid {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }
}

.search-icon img {
    width: 30px;  /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

.search-icon a {
    text-decoration: none; /* Removes underline from links */
}

